@font-face {
  font-family: 'font-1';
  src: url("../fonts/roboto-condensed-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/roboto-condensed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-condensed-webfont.woff2") format("woff2"), url("../fonts/roboto-condensed-webfont.woff") format("woff"), url("../fonts/roboto-condensed-webfont.ttf") format("truetype"), url("../fonts/roboto-condensed-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'font-2';
  src: url("../fonts/lora-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lora-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora-bold-webfont.woff2") format("woff2"), url("../fonts/lora-bold-webfont.woff") format("woff"), url("../fonts/lora-bold-webfont.ttf") format("truetype"), url("../fonts/lora-bold-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}

.js div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url(../img/ripple.svg) no-repeat center center;
}

.js div#preloader no-svg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url(../img/ripple.gif) no-repeat center center;
}

#svg-wrapper {
  height: 100vh;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1002;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: black;
  z-index: -10;
  transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 1s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.5s 0.5s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 2s ease-out;
}

.white {
  background: white;
}

.pantalla {
  background: black;
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  z-index: 9999999999;
}

.retire {
  background: none !important;
}

.initial svg {
  position: relative;
  top: 15%;
  height: 60%;
}

.resize {
  position: relative;
  top: -15%;
  height: 125%;
  transition: all 0.5s;
}

svg {
  width: 100%;
  height: 100%;
}

.parent {
  display: table;
  table-layout: fixed;
  height: 200px;
}

.parent .child {
  display: table-cell;
  vertical-align: middle;
}

body {
  font-family: "font-2", sans-serif;
}

h2, h3, h4 {
  font-family: "font-1", serif;
}

ul {
  list-style-type: none;
}

.navbar-default {
  background: none;
  border: none;
}

.navbar-default .navbar-nav {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .navbar-default .navbar-nav li {
    width: 14%;
  }
}

.navbar-default .navbar-nav li a {
  text-align: center;
  transition: .5s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
  background: #178ab8;
  color: white;
}

.ajuste-intro {
  margin-bottom: 80px;
}

#intro {
  color: white;
  background: #178ab8;
  max-height: 230px;
}

#intro .intro-img {
  margin-top: -80px;
}

@media handheld, only screen and (max-width: 768px) {
  #intro .intro-img {
    display: none;
  }
}

#satelite-animado {
  background: #7ac5e5;
  height: 30px;
  margin-top: 120px;
  margin-bottom: 100px;
}

#satelite-animado .satelite-img {
  position: relative;
  top: -90px;
}

.movimiento {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .movimiento {
    animation: example 15s  infinite;
  }
}

@keyframes example {
  0% {
    right: 0;
  }
  50% {
    right: 500px;
  }
  100% {
    right: 0;
  }
}

.movimiento-derecha {
  position: relative;
}

@media only screen and (min-width: 768px) {
  .movimiento-derecha {
    animation: movimiento-derecha 15s infinite;
  }
}

@keyframes movimiento-derecha {
  0% {
    left: 0;
  }
  50% {
    left: 500px;
  }
  100% {
    left: 0;
  }
}

.auto .img-autos {
  margin: 0 auto;
  padding: 0;
}

#beneficios .localizacion {
  margin-top: 100px;
  background: #178ab8;
  max-height: 200px;
  color: white;
}

#beneficios .localizacion .beneficios-img {
  margin-top: -30px;
}

@media handheld, only screen and (max-width: 768px) {
  #beneficios .localizacion .beneficios-img {
    display: none;
  }
}

.notificaciones-text {
  height: 350px;
}

#historico {
  color: white;
  margin-top: 50px;
  background: #7ac5e5;
}

#historico .historico-img {
  margin-top: -20px;
}

#precios .child {
  height: 350px;
}

.btn {
  border: none;
  padding: 10px 80px 10px 80px;
  background: #e45345;
  color: white;
  box-shadow: 10px 2px 25px #c4c4c4;
}

.btn:hover {
  background: #178ab8;
  color: white;
}

.flota {
  margin-top: 80px;
}

footer {
  background-color: #173d4f;
  color: white;
  margin: 150px 0 0 0;
}

footer .img-footer {
  margin-top: -150px;
}

@media handheld, only screen and (max-width: 768px) {
  footer .img-footer {
    display: none;
  }
}

footer .subir {
  display: table;
  border: 1px solid white;
  padding: 10px;
  color: white;
  margin: 20px 0 0 0;
}

@media only screen and (min-width: 769px) {
  .servicios-otros {
    height: 350px;
  }
}

.otros-servicios {
  margin: 50px;
}

.servicios-img {
  margin: 50px;
}

.servicios-text ul {
  list-style-type: circle;
}
