@import 'bourbon'; // http://bourbon.io/
@import 'partials/_media'; // Media Queries MQ(s,m,l,xl)
@import 'partials/_mixins'; // centrado vertical/horizontal y fallback fuentes
@import 'partials/_variables'; // colores, tipos de letra y personalizados
@import 'modules/loader';
.parent{
    display: table;
    table-layout: fixed;
    height: 200px;
    .child{
        display: table-cell;
        vertical-align: middle;
    }
}
body{
    font-family: $font-2;
}
h2,h3,h4{

    font-family: $font-1;
}
ul{
    list-style-type:none;
}
.navbar-default{
    background: none;
    border: none;
    .navbar-nav{
        width: 100%;
        li{
            @include MQ(MXL){
               width: 14%;
            }
            a{
                text-align: center;
                transition: .5s ease-in-out;
                &:hover{
                    background: $color-1;
                    color: $white;
                }

            }
        }
    }
}
.ajuste-intro{
    margin-bottom: 80px;
}
#intro{
    color: $white;
    background: $color-1;
    max-height: 230px;
    .intro-img{
        @include MQ(SM){
            display: none;
        }
        margin-top: -80px;
    }

}
#satelite-animado{
    background: $color-2;
    height: 30px;
    margin-top: 120px;
    margin-bottom: 100px;
    .satelite-img{
        position: relative;
        top: -90px;
    }
}
.movimiento{
    position: relative;
    @include MQ(MXL){
        animation: example 15s  infinite;
    }
}
@keyframes example{
    0% {
        right: 0;
    }
    50%{
        right: 500px;
    }
    100%{
        right: 0;
    }
}
.movimiento-derecha{
    position: relative;
    @include MQ(MXL){
        animation: movimiento-derecha 15s infinite;
    }
}
@keyframes movimiento-derecha{
    0% {
        left: 0;
    }
    50%{
        left: 500px;
    }
    100%{
        left: 0;
    }
}
.auto{

    .img-autos{
        margin: 0 auto;
        padding: 0;
    }
}
#beneficios{
    .localizacion{
        margin-top: 100px;
        background: $color-1;
        max-height: 200px;
        color: $white;
        .beneficios-img{
            margin-top: -30px;
            @include MQ(SM){
                display: none;
            }
        }
    }
}
.notificaciones-text{
    height: 350px;
}
#historico{
    color: $white;
    margin-top: 50px;
    background: $color-2;
    .historico-img{
        margin-top: -20px;
    }
}
#precios{
    .child{
        height: 350px;
    }
}
.btn{
    border: none;
    padding: 10px 80px 10px 80px;
    background: $color-3;
    color: $white;
    box-shadow: 10px 2px 25px #c4c4c4;
    &:hover{
        background: $color-1;
        color: $white;
    }
}
.flota{
    margin-top: 80px;
}
footer{
    background-color: $color-4;
    color: $white;
    margin: 150px 0 0 0;
    .img-footer{
        margin-top: -150px;
            @include MQ(SM){
                display:none;
            }
    }
    .subir{
        display: table;
        border: 1px solid $white;
        padding: 10px;
        color: $white;
        margin: 20px 0 0 0;
    }
}
.servicios-otros{
    @include MQ(LXL){
    height: 350px;
    }
}
.otros-servicios{
    margin: 50px;
}
.servicios-img{
    margin: 50px;
}
.servicios-text{
    ul{
        list-style-type: circle;
    }
}
