// fonts
@font-face{
    font-family: 'font-1';
    src: url('../fonts/roboto-condensed-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-condensed-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-condensed-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/roboto-condensed-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-condensed-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face{
    font-family: 'font-2';
    src: url('../fonts/lora-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/lora-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lora-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lora-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/lora-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lora-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$font-1: 'font-1', serif;
$font-2: 'font-2', sans-serif;
$regular: 400;
$bold:700;

// colors
$color-1: #178ab8;
$color-2: #7ac5e5;
$color-3: #e45345;
$color-4: #173d4f;
$white: white;

// z-index
$zindex-1: 1;
$zindex-2: 2;
$zindex-3: 3;
$zindex-4: 4;
$zindex-5: 5;
